<!DOCTYPE html>
<html lang="en">
<!-- Header Layout-->
{{> header}}
<body id="page-top">
  <!-- Navigation Bar-->
  {{> navigation}}
  <!-- Side Menu Bar-->
  {{> side}}
  <!-- Logout Modal-->
  {{> logout}}

  {{> scripts}}

</body>
</html>
